body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #212529;
    transition: background-color 0.3s, color 0.3s;
}

header {
    margin-bottom: 20px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-complete {
    text-decoration: line-through;
    color: gray;
}

.empty-state {
    margin-top: 20px;
}